body {
  padding: 10px;
}
.card-title {
  border-bottom: 1px solid #444;
}
.card {
    margin: 2px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}
.btn-primary {
    position: absolute;
    bottom: 8px;
}