{% extends "final/layout.html" %} {% block body %}
{% if user.is_authenticated %}
  <h2>Create New</h2>

  <form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" required/>
    </div>
    <div class="form-group mt-3">
      <label for="description">Content</label>
      <textarea name="description" id="editor" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group mt-3">
      <label for="imageurl">News Thumbnail URL</label>
      <input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="Enter Image URL" />
    </div>
    <div class="form-group mt-3">
      <label for="category">Select Category</label><br>
      <select name="category" id="category" class="form-select mb-2" required>
        {% for cat in categories %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-success">Create New</button>
  </form>
{% else %}
  <h2>Access denied</h2>
  <p>this page it's only active to admin</p>
{% endif %}

{% endblock %}
