{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}final{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'final/styles.css' %}" rel="stylesheet" />
    <script src="https://cdn.tiny.cloud/1/qg1iqhjkbxmbfb8ztivgskojldlthrycaepnc5bmxgqk2fpc/tinymce/7/tinymce.min.js"
      referrerpolicy="origin"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script src="{% static 'final/script.js' %}"></script>
  </head>
  <body>
    <header class="p-3 bg-dark text-white mb-3" id="go-top">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
    
          
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{% url 'index' %}"  class="nav-link px-2 text-secondary">Home</a></li>
              
                {% for cat in categories %}
                  <li>
                    <form id="my_form_{{ cat }}" action="{% url 'displayCategory' %}" method="POST">
                      {% csrf_token %}
                      <a href="javascript:{}" onclick="document.getElementById('my_form_{{ cat }}').submit();" class="nav-link px-2 text-white">{{ cat }}</a>
                      <input type="hidden" name="category" value="{{ cat }}">
                      </form>
                  </li>
                {% endfor %}
            </ul>
          
    
          <div class="text-end justify-content-right">
            {% if user.is_authenticated %}
              <a type="button" class="btn btn-outline-light me-2" href="{% url 'logout' %}">Log out</a>
              <a type="button" class="btn btn-warning" href="{% url 'create' %}">Create New</a>
            {% else %}
              <a type="button" class="btn btn-outline-light me-2" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
 

    {% block body %} {% endblock %}

    <footer class="blog-footer">
      <p>Blog News template built by <a href="https://hanyseyedy.ir/?lang=en">Hany Seyedy</a> </p>
      <p>GitHub: <a href="https://github.com/hanyseyedy">@hanyseyedy</a></p>
      <p>
        <a href="#go-top">Back to top</a>
      </p>
    </footer>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</html>
