{% extends "final/layout.html" %} {% block body %}

<h1>{{ listing.title }}</h1>
<img src="{{ listing.ImageUrl }}" alt="{{ listing.title }}" height="400px" />

<p><b>Writer:</b> {{ listing.owner }}</p>
<p>{{ descript |safe }}</p>

<h2>Comments</h2>
<br />
{% if user.is_authenticated %}
<form action="{% url 'addComment' id=listing.id %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="addComment">Add Comment:</label>
    <input type="text" name="addComment" placeholder="Add Comment" />
    <button type="submit" class="btn btn-success">Add Comment</button>
  </div>
</form>
{% endif %}
<br />
<ul class="list-group">
  {% for comment in allcomments %}
  <li class="list-group-item">
    <p><strong>{{ comment.author }}</strong> Posted:</p>
    {{ comment.message }}
  </li>
  {% endfor %}
</ul>

{% endblock %}
